<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="theDroidLady">
    <meta name="title" property="og:title" content="Constraint vs Other Layouts- A Battle towards performance (Understanding the View Rendering process and why choosing a correct layout is important )">
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

    {% seo %}
</head>

<body>

<div class="container">
    <section id="main_content">
        {{ content }}
        <br/>
        <a href="https://feedburner.google.com/fb/a/mailverify?uri=thedroidlady&amp;loc=en_US">Subscribe to theDroidLady Newsletter and get updates via Email</a>
    </section>
</div>
</body>
</html>

